// COLOR - Variable
$primary-blue : #3866E5;
$primary-yellow :  #ffbd26;
$gray-text : #828282;


.get__started {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding-right: 135px;
    padding-left: 135px;
    /* padding-top: 40px; */
    position: relative;
}

.header__gs{
    display: flex;
    margin-top: 40px;
}

.chat__apps__title {
    color: $primary-blue;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.chat__apps__title:hover{
    text-decoration: none;
}

.nav__right__gs {
    display: flex;
    margin-left: auto;
    z-index: 5;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header__nav {
    font-size: 20px;
    color: white;
    /* background-color: wheat; */
    margin-right: 35px;
    cursor: pointer;
    text-decoration: none;
}

.header__nav:hover{
    color:  $primary-yellow;
    text-decoration: none;

}

.button__nav__login{
    background-color: #fff;
    color: $primary-blue ;
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 0px;
    transition: transform 450ms;
}

.button__nav__login:hover{
    background-color: $primary-blue;
    color: white ;
    cursor: pointer;
    transform: scale(1.02);

}

.image__getStarted__bg {
    position: absolute;
    height: 100vh;
    width: 46%;
    right: 0;
}

.open__landingpage{
    width: 50%;
    margin-top: 200px;
}

.landing__openTitle{
    font-weight: 700;
    font-size: 38px;
    color: $primary-blue;
    line-height: 42px;
}

.landing__openDesc {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
}

.button__container{
    display: flex;
    margin-top: 40px
}

.button__registerUser{
    font-size: 20px;
    color: white;
    background-color: $primary-blue;
    padding: 8px 20px;
    border-radius: 10px;
    margin-right: 30px;
    cursor: pointer;
    border: 1px solid $primary-blue;
    transition: transform 450ms;
}

.button__registerRoom{
    font-size: 20px;
    color: $primary-blue;
    border: 1px solid $primary-blue;
    padding:8px 15px;
    border-radius: 10px;
    transition: transform 450ms;
}

.button__registerUser:hover{
    background-color: $primary-yellow;
    cursor: pointer;
    color: $primary-blue;
    border: 1px solid $primary-yellow;
    transform: scale(1.05);

}


.button__registerRoom:hover{
    background-color: $primary-blue;
    cursor: pointer;
    color: white;
    border: 1px solid $primary-blue;
    transform: scale(1.05);
}

.center__GS{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}

.center__leftGS {
flex: 0.5;
}

.img__centerGS{
width: 95%;
transition: transform 450ms;
}

.img__centerGS:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.center__rightGS{
flex: 0.5;
padding-top: 150px;
}

.landing__centerDesc{
    font-size: 22px;
    color: $gray-text;
    line-height: 38px;
}

.center__option{
display: flex;
margin-top: 250px;
justify-content: space-between;
width: 100%;
margin-bottom: 300px;
transition: transform 450ms;
}

/* .center__option:hover{
    transform: scale(1.05);
    cursor: pointer;
} */

.card__option{
box-shadow: 0px 5px 24px
rgba(56, 102, 230, 0.12);
flex: 0.3;
border-radius: 15px;
padding: 20px;
}


.img__option {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: -70px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.centerOption__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $primary-blue;
}

.centerOption__desc{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #828282
}

.landing__organize {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 100px;
}

.landing__organize__title{
    /* position: relative; */
    color: white;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* background-color: pink; */
    z-index: 5;
    text-align: center;
}

.bckg__footer{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
}

.button__try {
    background-color: white;
    color: $primary-blue;
    padding: 12px;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    align-self: center;
    margin: auto;
    transition: transform 450ms;
}

.button__try:hover {
    cursor: pointer;
    background-color:  $primary-yellow;
    transform: scale(1.05);
    font-weight: 700;
}

.landing__organize__titleGS {
    font-size: 38px;
    line-height: 44.53px;
    font-weight: 700;
}

.landing__organize__descGS {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

.footer__landingPage {
    display: flex;
    border-top: 1px solid $primary-blue;
    padding: 30px 0;
    width: 100%;
    justify-content: space-between;
}

.footer__titileChat{
    color: $primary-blue;
    font-size: 28px;
    font-weight: 700;
    line-height: 32.81px;
   
    
}
.footer__options {
    display: flex;
    flex-direction: column;
}

.footer__titleHead{
    color: $primary-blue;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.78px;
}

.footer__title {
    color: $primary-blue;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.footer__titileChat:hover,
.footer__titleHead:hover,
.footer__title:hover {
    color: $primary-yellow;
    cursor: pointer;
    text-decoration: none;
}





