// COLOR - Variable
$primary-blue : #3866E5;
$primary-yellow :  #ffbd26;
$gray-text : #828282;
$gray-dak : #282828;
$gray-light :  #f2f2f2;
$gray-light-2 : #E9EDF6;

.home {
    background-color: $gray-light-2;
    height: 100vh;
    display: grid;
    box-sizing: border-box;
}

.home__body {
    display: flex;
    height: 100vh;
    width: 100%;
}