// COLOR - Variable
$primary-blue : #3866E5;
$primary-yellow :  #ffbd26;
$gray-text : #828282;
$gray-dak : #282828;
$gray-light :  #f2f2f2;
$gray-light-2 : #E9EDF6;
$gray-light-3 :  #e0e0e0;
$blue-hover : #7593e5;

.login {
    /* margin: 20px auto; */
    /* width: 20rem; */
    height: 100vh;
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    background-color: $primary-blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bckg-top{
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
}

.bckg-bottom {
    position: absolute;
    width: 700px;
    bottom: 0;
    right: 0;
}

.login__div{
background-color: #fff;
width: 60%;
padding: 40px 80px;
border-radius: 10px;
z-index: 5;
}

.login__title {
    margin-bottom: 10px;
    color: $primary-blue;
    font-size: 26px;
}

.btn {
    width: 100%;
}

.form {

}

.error {
    color: red;
}

.form-content-right{
    margin: 20px auto;
    width: 20rem;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.button__login {
    width: 170px;
    margin-left: auto;
}
.desc__button {
    margin-left: auto;
    color: $gray-text;
    margin-bottom: 30px;
}
.register__span{
    color: $primary-blue;
    cursor: pointer;
    font-weight: bold;
}