.rightside {
    background-color: #F9F9FC;
    width: 360px;

}

.rightside__title {
    height: 70px;
    background-color: #3866E6;
    display: flex;
    align-items: center;
    padding: 10px;
}

.rightside__desc{
    color: white;
    font-size: 22px;
}