// COLOR - Variable
$primary-blue : #3866E5;
$primary-yellow :  #ffbd26;
$gray-text : #828282;
$gray-text-2:  #4f4f4f;
$gray-dak : #282828;
$gray-light :  #f2f2f2;
$gray-light-2 : #E9EDF6;
$gray-light-3 :  #e0e0e0;
$blue-hover : #7593e5;

.rightside {
    background-color: $gray-light-2;
    /* width: 360px; */
    flex: 0.2;
    overflow: scroll;
}

.rightside__title {
    height: 50px;
    background-color: $primary-blue;
    display: flex;
    align-items: center;
    padding: 10px;
}

.rightside__desc{
    color: white;
    font-size: 18px;
    margin-left: 5px;
}
.rightside__desc:hover{
    text-decoration: none;
    color: white;
}

.right__component {
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.contact__rightInfo {
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $gray-light-3;
}

.contact__rightName {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.rightSide__name {
    font-size: 20px;
    line-height: 25.78px;
    font-weight: 700;
    color: $gray-dak;
}

.rightSide__user{
    font-weight: 300;
    line-height: 16px;
    font-size: 12px;
    color: $gray-text;
}

.rightSide__name:hover{
    text-decoration: none;
    color: $gray-dak;
}
.rightSide__user:hover {
    text-decoration: none;
    color: $gray-text;
}

.status__edit{
    display: flex;
    justify-content: space-between;
    color: $primary-blue;
    margin-top: 15px;
    margin-bottom: 10px;
}
.status__edited{
    font-size: 12px;
}

.status__rightside  {
    font-size: 15px;
    line-height: 18px;
    color: $gray-text-2;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $gray-light-3;
}

.add__roomMember{
    background-color: $primary-blue;
    color: white;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 12px;
    // height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add__roomMember:hover{
    color: $primary-blue;
    background-color: $gray-light-3;
    cursor: pointer;
}

.wrap__imgGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $gray-light-3;
}

.wrap__img__group {
    display: flex;
    flex-direction: row;
}
.integer__group{
    color: $gray-text;
    align-items: center;
    display: flex;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
}
.integer__group:hover{
    cursor: pointer;
    background-color:$gray-light-3 ;
}

.photos__multimedia {
    color: $primary-blue;
    margin-top: 20px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $gray-light-3;
}

.photo__andMultimedia {
    margin-bottom: 8px;
    margin-right: 4px;
}

.photoMultimedia{
    width:55px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
}
.wrap__photo {
    display: flex;
    flex-direction: row;
    // justify-content: start;
    flex-wrap: wrap;
    // margin: auto;
}

.how__to {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pdf__howto {
    color: white;
    background-color: $primary-blue;
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.desc__howTo {
    font-size: 14px;
    font-weight: 400;
    line-height: 21.09px;
    color: $gray-dak;
}

.yellow {
    background-color: $primary-yellow;
}

.red {
    background-color: green;
}